{{!

    Renders:
      Disqus Comments Count

}}

<a href="{{url}}#comments" class="icon-ui icon-ui-comment meta-link meta-comment">
	<span class="meta-count disqus-comment-count" data-disqus-identifier="{{id}}">0</span>
	<span class="meta-plural"> comments</span>
</a>
