{{!

    Renders:
      Meta
      Meta Date

}}

<div class="meta post-meta">
  <a href="" target="_blank" class="icon-ui icon-ui-date meta-link meta-date" data-js="widget-date">
  	<span class="meta-count" data-js="widget-date-stamp"></span>
  </a>
  <a href="" target="_blank" class="icon-ui icon-ui-comment meta-link meta-comment" data-js="widget-comment">
  	<span class="meta-count" data-js="widget-comment-count"></span>
  </a>
  <a href="" target="_blank" class="icon-ui icon-ui-like meta-link meta-like" data-js="widget-like">
  	<span class="meta-count" data-js="widget-like-count"></span>
  </a>
</div>
