{{!

    Renders:
      Header Social Links

}}


<div class="nav header-social">
    <a href="http://twitter.com/recordmusicnyc" target="_blank" class="icon icon-twitter nav-link" title="Twitter">Twitter</a>
    <a href="https://www.youtube.com/channel/UChhnGBVtLUMGc0ZGuYS6e4w/" target="_blank" class="icon icon-youtube nav-link" title="Youtube">Youtube</a>
    <a href="http://instagram.com/howtorecordmusic" target="_blank" class="icon icon-instagram nav-link" title="Instagram">Instagram</a>
    <a href="https://www.facebook.com/howtorecord" target="_blank" class="icon icon-facebook nav-link" title="Facebook">Facebook</a>
    <a href="https://plus.google.com/u/0/b/107411158798198622571/107411158798198622571/" target="_blank" class="icon icon-googleplus nav-link" title="Google Plus">Google Plus</a>
</div>
