{{!

    Renders:
      Mailchimp Subscription Box

    Microdata:
      na

}}

<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background: #DD536F;margin: 60px auto 7px auto;color: #fff;clear: left;max-width: 100%;padding: 60px;
    border-radius: 5px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1); }
  #mc_embed_signup .button {
    font-size: 18px;
    font-weight: bold;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    letter-spacing: .03em;
    color: #fff;
    background-color: #000;
    box-sizing: border-box;
    height: 32px;
    line-height: 32px;
    padding: 0 18px;
    display: inline-block;
    margin: 0;
    transition: all 0.23s ease-in-out 0s;
}
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//howtoprogramcode.us9.list-manage.com/subscribe/post?u=a3ebf276a280d2f7e5336afe1&amp;id=08a8db5a71" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL">Subscribe to our mailing list to receive exclusive content!</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a3ebf276a280d2f7e5336afe1_08a8db5a71" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
